body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("MASCAR.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered {
  position: absolute;
  top: 48%;
  left: 43%;
  tranform: translate(-50%, -50%);
}
